body{
    text-align: center;
    font-family:Merriweather;
    background-color:  #d7e4e5;
}
.up{
    position: absolute;
    top: 50px;
    right: 250px;
    width: 200px;
}
.first{
    background-color: #FBFBFB;
    position: relative;
    padding-top: 100px;
    text-align: center;
    margin: 0px;
    border: none;
    border-radius: 30px;
}
.mid{
    background-color: #FBFBFB;
    color: #EB6440;
    margin: 0px;
    font-family: Montserrat;
    padding: 1em;
    font-weight: bolder;
    border: none;
    border-radius: 30px;
}
.mount{
    position: relative;
    margin: 0px;
    padding: 0px;
}
.down{
    width: 200px;
    position: absolute;
    left: 300px;
    top: 300px;
}
.ass{
    font-size: 1em;
    font-family:Montserrat ;
}
h1{
    font-family: Sacramento;
    font-size: 4em;
    text-shadow: #497174 2px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 10%;
    border-width: 15px;
    border-color: #497174;
}

.table{
    position: relative;
    left: 400px;
    padding: 2em;
}